<div style="margin-left: 340px" class="overflow-x-hidden">
  <div class="flex justify-content-center">
    <h1>Clientes</h1>
  </div>

  <div>
    <p-table [value]="clientes" dataKey="nome" [(selection)]="vp.selectedCliente" styleClass="teste">
      <ng-template pTemplate="header" >
        <tr>
          <th  style="border-radius: 20px; opacity: 1; background-color: transparent;">
            <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
          </th>
          <!-- <th></th>
          <th ></th>
          <th></th> -->
        </tr>
      </ng-template>
     
      <ng-template pTemplate="body" let-cliente let-expanded="expanded" >
        <tr style="background-color: #0169b4; color: white; font-weight: bold; " class="border-circle">
          <td>
            <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
        </td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="cliente"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>
            {{ cliente.nome }}
          </td>
          <td>{{ cliente.gestor }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-cliente>
        <tr>
          <td colspan="7">
            <div class="p-3">
              <p-table [value]="cliente.dados" dataKey="linhaDeProduto">
                <ng-template pTemplate="header">
                  <tr>
                 
                    <th pSortableColumn="linhaDeProduto">
                      linha De Produto <p-sortIcon field="linhaDeProduto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="modulo">
                      Módulo <p-sortIcon field="modulo"></p-sortIcon>
                    </th>
                    <th pSortableColumn="familia">
                      Família <p-sortIcon field="familia"></p-sortIcon>
                    </th>
                    
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-dados>
                  <tr>
                    <td>{{ dados.linhaDeProduto }}</td>
                    <td>{{ dados.modulo }}</td>
                    <td>{{ dados.familia }}</td>
               
                    
                   
                  </tr>
                </ng-template>
          
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- <div>
    <p-accordion [multiple]="true">
      <p-accordionTab
        header="{{ cliente.nome }} "
        *ngFor="let cliente of clientes"
      >
        <div>
          <div class="mb-4">
            <span
              ><b class="background border-round-sm w-12rem no-wrap p-1"
                >Gestor Comercial:</b
              >
              {{ cliente.gestor }}
            </span>
          </div>
          <p-table [value]="cliente.dados">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="linhaDeProduto">
                  Linha de Produto<p-sortIcon
                    field="linhaDeProduto"
                  ></p-sortIcon>
                </th>
                <th pSortableColumn="modulo">
                  Módulo<p-sortIcon field="modulo"></p-sortIcon>
                </th>
                <th pSortableColumn="familia">
                  Família<p-sortIcon field="familia"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-columns>
              <tr>
                <td>{{ columns.linhaDeProduto }}</td>
                <td>{{ columns.modulo }}</td>
                <td>{{ columns.familia }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div> -->
</div>
