<div>
  <p-sidebar
    [(visible)]="sidebarVisible"
    [dismissible]="screenWidth <= 900 ? true : false"
    [showCloseIcon]="false"
    [modal]="false"
  >
    <ng-template pTemplate="header">
      <div class="w-9">
        <p-image src="assets/images/logo-prisma.jpg" width="100%" class="cursor-pointer" (click)="refresh()"/>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="flex flex-column">
        <div>
          <p class="background mb-3 border-round-sm w-16rem flex justify-content-center py-1">
            Gestor Comercial Responsável:
          </p>

          <p-dropdown
            [style]="{ width: '17rem' }"
            [options]="gestores"
            [(ngModel)]="gestorSelecionado"
            placeholder="Selecione o Gestor"
            (onChange)="pesquisaGestor()"
          ></p-dropdown>
        </div>
        <div>
          <p class="mb-3 flex justify-content-center w-5rem border-round-sm  py-1 background">
            Cliente:
          </p>

          <p-dropdown
           
            [style]="{ width: '17rem' }"
            [options]="clientes"
            optionLabel="nome"
            optionValue="nome"
            [(ngModel)]="clienteSelecionado"
            [filter]="true"
            filterBy="nome"
            placeholder="Selecione o Cliente"
            (onChange)="pesquisaCliente()"
       
          ></p-dropdown>
        </div>
        <div >
          <p class="mb-3 flex justify-content-center w-5rem border-round-sm  py-1 background">
            Módulo:
          </p>
          <div class="p-inputgroup " style="width: 17rem;">
            <input type="text" pInputText [(ngModel)]="modulo"  (keydown.enter)="pesquisaModulo()"/>
            <button
              type="button"
              pButton
              icon="pi pi-search"
              styleClass="p-button-warn"
              (click)="pesquisaModulo()"
            ></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center">
        <div class="card flex justify-content-center">
          <p-toast></p-toast>
          <ng-template #upload>
            <p-fileUpload
              mode="basic"
              chooseLabel="Upload"
              chooseIcon="pi pi-upload"
              name="CLIENTES X MODULOS SENIOR"
              url="https://www.primefaces.org/cdn/api/upload.php"
              [auto]="true"
              accept="image/*"
              (onUpload)="onUpload($event)"
            ></p-fileUpload>
          </ng-template>
          <p-button
            label="Subindo"
            [loading]="loading"
            *ngIf="loading; else upload"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-sidebar>
</div>
